__pycache__/
*.pyc
.DS_Store
.env
settings.json
logs/
*.spec
!main.spec
!main_portable.spec
dist/
build/
build_log.txt
# Исключить папку config и всё её содержимое
config/

# Исключить папку queries и всё её содержимое
queries/

# Исключить .claude и всё её содержимое
.claude/